{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('menu') }}
{% endblock %}
{% block title 'Notre carte'%}

{% block body %}


    <div id="root"></div>
            {#
            <div class="jumbotron">
                <div class="container">
                    {{ form_start(form) }}
                        <div class="form-row align-items-end">
                            <div class="col">
                                {{ form_row(form.) }}
                            </div>
                            <div class="col">
                                {{ form_row(form.maxPrice) }}
                            </div>
                            <div class="col">
                                {{ form_row(form.options) }}
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Rechercher</button>
                                </div>
                            </div>
                        </div>
                    {{ form_end(form) }}
                   </div>
            </div>
            #}
        {#<div class="container mt-4">
            <h1 class="mb-4">Voir notre carte</h1>

            <div class="row" >
                {% for produit in produits %}
                    <div class="col-md-4">
                        {% include 'produit/_produit.html.twig'%}
                    </div>
                {% endfor %}
            </div>
            {# <div class="navigation">
                {{ knp_pagination_render(properties,'property/pagination.html.twig') }}
            </div>
        </div> #}
{% endblock %}

{% block javascripts %}


     <script>
        window.REP_LOG_APP_PROPS = {
            itemOptions: [
                    {% for produit in produits %}
                    {
                        id: {{ produit.id }},
                        name: "{{produit.name}}",
                        description: "{{produit.description}}", 
                        price: {{produit.prix}},
                        image: "{{produit.base64}}",
                        category: [ {% for option in produit.options %}
                         "{{option.name}}",
                    {% endfor %} ]
                    },
                    {% endfor %}
            ],
        }
    </script>


    {{ encore_entry_script_tags('menu') }}


{% endblock %}