<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <style>
                fieldset.sweet-candy
                {
                    opacity:0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 0;
                    width: 0;
                    z-index: -1;
                }
            </style>

            {{ encore_entry_link_tags('app') }}
        {% endblock %}


    </head> 
    <body>
      <header class="header-desktop">
        <nav>
            <div class="nav">
                <div class="menu">
                    <ul id="menu" class="nav__ul">
                        <li class="logo_img"> <a href="{{ path('indexpage') }}" class="lien">Accueil</a></li>
                        <li> <a href="{{ path('produit')}}" id="1" class="lien">Notre carte</a> </li>
                        <li> <a href="{{ path('contact_index') }}" id="4" class="lien">Contact</a> </li>
                        {% if is_granted('ROLE_USER') %}
                        <li>
                            {% if is_granted('ROLE_USER') %}
                                <a href="{{ path('profil_index') }}" class="lien">Mon compte</a>
                            {% endif %}
                        </li>
                        <li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('admin_index') }}" class="lien">Administration /</a>
                            {% endif %}
                            {% if is_granted('ROLE_MODO') %}
                                <a href="{{ path('admin_produits_index') }}" class="lien">Modération</a>
                            {% endif %}
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <header class="header-burger"><h1 class="header-title">Simply Awesome Burger</h1><div id="menu-button" class="close"></div></header>
        <nav id="menu-burger" class="">
            <ul>
                <li><a href="{{ path('indexpage') }}" class="lien">Acceuil</a></li>
                <li><a href="{{ path('produit')}}" id="1" class="lien">Notre carte</a></li>
                <li><a href="{{ path('contact_index') }}" id="4" class="lien">Contact</a></li>
                {% if is_granted('ROLE_USER') %}
                <li><a href="{{ path('profil_index') }}" class="lien">Mon compte</a></li>
                 {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('admin_index') }}" class="lien">Administration</a></li>
                {% endif %}
                {% if is_granted('ROLE_MODO') %}
                <li><a href="{{ path('admin_produits_index') }}" class="lien">Modération</a></li>
                {% endif %}
                {% endif %}
            </ul>
        </nav>
        {% block body %}
  
        {% endblock %}
        <footer>
            <div>
                <p>@copyright Florian, Ludovic</p>
            </div>
            <div class="footer__img">
                <img src="{{ asset("build/images/icons8-instagram-80.png") }}" alt="logo instagram">
                <img src="{{ asset("build/images/icons8-facebook-entouré-80.png") }}" alt="logo facebook">
            </div>
        </footer>

            {{ encore_entry_script_tags('app') }}
        {% block javascripts %}


        {% endblock %}
        
    </body>
    
</html>
