{% extends 'base.html.twig' %}

{% block title 'Panier' %}

{% block body %}
    <h1>Votre panier</h1>
    <table>
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for element in dataPanier %}
                <tr>
                    <td>{{ element.produit.name }}</td>
                    <td>{{ element.produit.prix}}</td>
                    <td>{{ element.quantite }}</td>
                    <td>{{ element.quantite * element.produit.prix }}</td>
                    <td>
                        <a href="{{ path("cart_add", {id: element.produit.id}) }}">Ajouter</a>
                        <a href="{{ path("cart_remove", {id: element.produit.id}) }}" >Enlever une unité</a>
                        <a href="{{ path("cart_delete", {id: element.produit.id}) }}" >Supprimer l'article</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Votre panier est vide</td>
                </tr>
            {% endfor %}
        </tbody>
         <tfoot>
         <tr>
             <td colspan="3">Total</td>
             <td>{{ total }} €</td>
             <td><a href="{{ path("cart_delete_all") }}" >Supprimer tous les articles</a></td>
         </tr>
         <tr>
             <td colspan="5">
                 <div id="example-4" class="cell example example4"></div>
             </td>
         </tr>
         </tfoot>
    </table>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('menu') }}
{% endblock %}